<html>
  <head>
    <style type="text/css">
      body {
        background: rgb(247, 13, 13);
        color: black
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        padding: 10px;
        text-align: center;
      }
      h3 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="{{ pokemon.image }}"/>
      <table>Your random pokemon: {{ pokemon.name }},{{pokemon.ability}},{{pokemon.type}},{{pokemon.nature}},{{pokemon.region}},{{pokemon.move}},{{pokemon.evolution-chain}},{{pokemon.item}},{{pokemon.generation}}</table>
    </div>
  </body>
</html>
